# Environment files
.env
.venv
env/
venv/
ENV/
streamlit_env/
*.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Local development settings
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover